.wrappHome {
  width: 85%;
  margin: 0 auto;
  h1 {
    font-size: 90px;
    line-height: 100px;
    font-weight: 400;
  }
}

.head {
  width: 85%;
  margin: 50px 0;

  img {
    padding: 30px 0;
    padding-bottom: 50px;
  }
}
.infoWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  & > div {
    width: 40%;
    margin-bottom: 50px;
    h2 {
      font-size: 42px;
    }
    p {
      color: #3c4043;
      opacity: 0.5;
    }
    .seeMore {
      display: flex;
      align-items: center;
      margin-top: 15px;
      img {
        margin-left: 15px;
      }
    }
  }
}
.resourcesSection {
  h1 {
    margin-bottom: 40px;
  }
  width: 100%;
  .resourcesWrittings {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .res_wrap {
      width: 43%;
      & > div:nth-child(1) {
        & > div {
          margin-bottom: 60px;
          border-bottom: 1px solid rgba(60, 64, 67, 0.2);
          padding-bottom: 40px;
          p,
          span {
            color: #3c4043;
            opacity: 0.5;
          }
        }
      }
      & > div:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        a {
          display: flex;
          align-items: center;
          img {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.beforeSticky {
  position: relative;
}
.work {
  margin-top: 90px;
}
.section2 {
  top: 0;
  overflow-x: scroll;
  scroll-behavior: auto;
  & > .card_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160%;
    width: 220%;
    & > .card {
      width: 20%;
      height: 99vh;

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      & > .beforeWrap {
        width: 95%;
        // background-color: yellow;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .learnMore {
          // background-color: red;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          // width: 40%;
          p {
            display: flex;
            align-items: center;
            img {
              margin-left: 15px;
            }
          }
        }
        a {
          & > .contain {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 70vh;
            margin: auto;
            & > img {
              width: 100% !important;
              height: 100%;
            }
            h2 {
              font-size: 46px;
              color: #3c4043;
              margin-top: 15px;
            }
            p {
              color: #3c4043;

              opacity: 0.5;
            }
          }
        }
      }
      p {
        font-size: 20px;
      }
      h3 {
        font-weight: 500;
      }
      .hover {
        background-position: center;
        background-size: cover;
      }
    }
  }
}
.resourcesWrittings {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  & > div {
    width: 47%;
  }
}
.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}
.beforeSticky2 {
  position: relative;
}
.sectionInfo {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .box_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .box1 {
      width: 47%;
      border-right: 1px solid black;
      word-break: break-all;
      padding: 40px 30px;
      h3 {
        margin-top: 15px;
        margin-bottom: 8px;
      }
      p {
        color: #3c4043;
        opacity: 0.5;
      }
      h2 {
      }
    }

    .box2 {
      width: 53%;
      overflow-x: scroll;
      scroll-behavior: auto;

      .card_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 270%;

        .seeMore {
          display: flex;
          align-items: center;
          img {
            margin-left: 10px;
          }
        }
        .card {
          width: 15%;
          padding-left: 30px;

          .present {
            color: #36ca8b;
          }
          & > div {
            width: 100%;
          }
        }
        .card:nth-child(3) {
          width: 25%;
        }
        .card:nth-child(4) {
          width: 20%;
        }
        .card:nth-child(5) {
          width: 25%;
        }
        .card:nth-child(6) {
          width: 10%;
          height: 100%;
          align-self: center;
        }
      }
    }
  }
}

.home_footer {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  a {
    margin: 0 15px;
  }
}
@media (max-width: 1280px) {
  .wrappHome {
    width: 90%;
    h1 {
      font-size: 50px;
      line-height: 60px;
    }
  }

  .head {
    width: 100%;
    margin: 50px 0;
  }
  .infoWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    & > div {
      width: 47%;
      margin-bottom: 40px;
    }
  }
  .work {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .section2 {
    overflow-x: initial;
    height: initial;
    & > .card_wrapper {
      flex-wrap: wrap;
      width: 100%;
      & > .card {
        width: 49%;
        height: initial;
        margin-bottom: 70px;
        & > .beforeWrap {
          width: 95%;
          height: initial;
          .learnMore {
            height: 100%;
            align-items: center;
            justify-content: flex-start;
            margin: 70px 0;
          }

          a {
            & > .contain {
              height: initial;
            }
          }
        }
      }
    }
  }

  .resourcesSection {
    h1 {
      margin-bottom: 40px;
    }
    width: 100%;
    .resourcesWrittings {
      .res_wrap {
        width: 47%;
      }
    }
  }
  .sticky {
    position: static;
    height: initial;
  }

  .beforeSticky2 {
    height: 100%;
    position: initial;
    // margin-bottom: 80px;
  }

  .sectionInfo {
    padding: 0px;
    width: 100%;
    height: initial;
    margin: 40px 0;
    .box_wrapper {
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .box1 {
        width: 100%;
        border-right: 0px;
        padding: 0;
        margin-bottom: 30px;
      }
      .box2 {
        width: 100%;
        .card_wrapper {
          display: flex;
          justify-content: space-between;
          width: 100%;
          flex-wrap: wrap;
          padding-left: 0;
          .card {
            width: 48%;
            padding-left: 0;
            margin-bottom: 40px;

            & > div {
              width: 100%;
              sup {
                font-size: 16px;
              }
            }
          }
          .card:nth-child(3) {
            width: 48%;
          }
          .card:nth-child(4) {
            width: 48%;
          }
          .card:nth-child(5) {
            width: 48%;
          }
          .card:nth-child(6) {
            width: 100%;
            padding: 50px 0;
            .seeMore {
              justify-content: center;
            }
          }
        }
      }
    }
  }
  .home_footer {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .wrappHome {
    width: 90%;
    h1 {
      font-size: 40px;
      line-height: 50px;
    }
  }

  .head {
    width: 100%;
    margin: 30px 0;
    text-align: center;
    h1 {
      text-align: left;
    }
  }
  .infoWrap {
    flex-direction: column;
    & > div {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .work {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .beforeSticky {
    height: initial;
    position: relative;
  }
  .section2 {
    overflow-x: initial;
    height: initial;
    margin-top: 40px;
    & > .card_wrapper {
      flex-wrap: wrap;
      width: 100%;
      & > .card {
        width: 100%;
        height: initial;
        margin-bottom: 70px;
        & > .beforeWrap {
          width: 95%;
          height: initial;
          //   background-color: red;

          .learnMore {
            height: 100%;
            align-items: center;
            justify-content: center;
            margin: 0px 0;
          }
          a {
            & > .contain {
              h2 {
                font-size: 30px;
              }
            }
          }
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
  .resourcesSection {
    h1 {
      margin-bottom: 20px;
    }

    .resourcesWrittings {
      flex-direction: column;
      .res_wrap {
        width: 100%;

        & > div {
          margin: 10px;
          padding-bottom: 10px;
        }
        & > div:nth-child(2) {
          margin: 20px 0;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .beforeSticky2 {
    height: 100%;
    margin-bottom: 40px;
  }
  .sectionInfo {
    padding: 0px;
    width: 100%;
    .box_wrapper {
      .box2 {
        .card_wrapper {
          .card {
            width: 100%;
            padding-left: 0;
            margin-bottom: 15px;
            h2 {
              font-size: 34px;
            }
          }
          .card:nth-child(3) {
            width: 100%;
          }
          .card:nth-child(4) {
            width: 100%;
          }
          .card:nth-child(5) {
            width: 100%;
          }
          .card:nth-child(6) {
            width: 100%;
            padding: 20px 0;
          }
        }
      }
    }
  }
  .home_footer {
    width: 100%;
    padding: 10px 0;
    a {
      margin: 15px;
    }
    div {
      margin: 10px 0;
    }
  }
}
